/*variables*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
        --Dark:            #282b46;
        --Dark-Cyan:  #555B6E;
        --Bege:           #FFD6BA;
        --White:          #FAF9F9;
        --Light-Cyan: #BEE3DB;
        --Cyan:           #89B0AE;
        --index:            0;
}
/* Template */
body{
    background-color: var(--Bege);
}

footer{
    position: relative;
    background-color: var(--Dark);
    color: white;
    width: auto;
    height: 15em;
}

.header{
    position: sticky;
    width: auto;
    height: 4em;
    background-color: var(--Dark);
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 5;
}

.heading{
    width: auto;
    height: 4em;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}

.bar{
    position: fixed;
    width: 100%;
    height: 2em;
    background-color: var(--Dark-Cyan);
    z-index: 5;
}

a{
    text-decoration: none;
    color: var(--Dark);
}

.header .flex{
    justify-content: space-between;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display: grid;
}

.logo{
    font-size: 50px;
    width: 150px;
    text-align: center;
    text-decoration:wavy;
}

ul{
    list-style-type: none;
}

.header ul{
    display: flex;
}

.header a{
    color: var(--White);
    margin: 0 5px;
    padding: 10px;
}

.input{
    width: 175px;
    position: relative;
    border: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
}

.header .input{
    font-size: 16px;
    color: var(--White);
    width: 250px;
    text-align: center;
    border-bottom: 1px var(--White) solid;
    transition: 500ms ease-in-out;
}

.input:focus {
    outline: none;
    border: 1px var(--White) solid;
    border-radius: 25px;
}

.pimg{
    position: relative;
    background-image: url("Images/PlaceHolder.png");
    width: auto;
    height: 100%;
    background-position: center;
    opacity: 0.70;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg{
    position: relative;
    background-image: url("Images/PlaceHolder.png");
    width: auto;
    height: 75vh;
    opacity: 1;
}

body .flex{
    justify-content: left;
}

.container{
    width: auto;
}

/* Results */
.sidebar{
    float: left;
    position: relative;
    background-color: var(--Cyan);
    margin-top: 2em;
    height: 75vh;
    width: 200px;
    min-width: 200px;
    border-radius: 5px;
}

.midContainer{
    position: relative;
    width: auto;
    height: 100%;
}

.container .table{
    min-height: 100vh;
}
.table .productCard:hover{
    margin: auto;
}

/* Login and Register */

.loginImg{
    position: relative;
    background-image: url("Images/PlaceHolder.png");
    color: var(--White);
    width: 65vw;
    height: 350px;
    font-size: 250px;
    margin: 25px 250px;
    text-align: center;
    border-radius: 3px;
}

.loginForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: var(--Dark-Cyan);
    margin: 0 500px 0 250px;
    height: 25vh;
    padding: 15px;
    border-radius: 15px;
    color: rgba(209, 200, 200, 0.911);
}

.loginForm .input:focus{
    border-radius: 0;
    border:none;
    border-bottom: 1px var(--White) solid;
    color: var(--White);
}

.bottomRight{
    margin: 25px 0 0 450px;
    color: var(--White);
}

.bottomRight:hover{
   text-decoration: underline;
}

.register .flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}